#Access to fake keymaster SPL/Android version props
get_prop(hal_keymaster, default_prop);

get_prop(hal_keymaster, system_prop);

get_prop(hal_gatekeeper, system_prop);

