#Access to fake keymaster SPL/Android version props
type hal_keymaster_default, domain;

get_prop(hal_keymaster_default, default_prop);

type hal_keymaster_qti, domain;

get_prop(hal_keymaster_qti, default_prop);
