type hal_graphics_allocator_default, domain; 
type proc_ged, file_type; 
allowxperm domain proc_ged:file ioctl { 0x6700-0x67ff };

allow init mnt_product_file:dir mounton;
