type boot_prop, property_type;

set_prop(system_server, boot_prop);

allow hal_camera_default system_prop:property_service { set }
allow kernel sysfs:file { read open }
allow thermal-engine sysfs:dir { search read}
allow time_daemon sysfs:file { read }
allow mm-qcamerad sysfs:file { read write }
allow healthd sysfs:file { read }
allow hal_audio_default diag_device:chr_file { read write }
allow system_server userspace_reboot_exported_prop:file { read }
allow location sysfs:file { read }
allow atfwd sysfs:file { read }
allow wcnss_service serialno_prop:file { read }
allow wcnss_service mnt_vendor_file:dir { write }
