import /system/etc/init/zygote/init.${ro.zygote}.rc

on early-fs
    mkdir /mnt/runtime/full 0755 root root
    mkdir /mnt/runtime/full/self 0755 root root
    mkdir /apex 0777 root root
    mount tmpfs tmpfs /apex mode=0755,uid=0,gid=0
    restorecon /apex
    exec -- /system/bin/apexd --bootstrap
    export ANDROID_RUNTIME_ROOT /apex/com.android.runtime
    export ANDROID_TZDATA_ROOT /apex/com.android.tzdata
    symlink /system/product /product

on fs
    exec u:r:su:s0 -- /system/bin/umount -l /product
    exec u:r:su:s0 -- /system/bin/rmdir /product
    symlink /system/product /product
