on post-fs
	exec - root -- /system/bin/vndk-detect
	exec - root -- /system/bin/rw-system.sh
	mount none /system/etc/usb_audio_policy_configuration.xml /vendor/etc/usb_audio_policy_configuration.xml bind
	export LD_CONFIG_FILE /system/etc/ld.config.${persist.sys.vndk}.txt

	# HACK to fix Bluetooth audio on custom roms
	mount none /vendor/lost+found /vendor/etc/audio bind

service phh_on_boot /system/bin/phh-on-boot.sh
    oneshot
    disabled

on property:sys.boot_completed=1
    start phh_on_boot

on property:QC.HI6250=1
   write /sys/class/hw_power/charger/direct_charger/iin_thermal 2750
   write /sys/class/hw_power/charger/charge_data/iin_thermal 1000

on property:QC.HI36x0=1
   write /sys/class/hw_power/charger/direct_charger/iin_thermal 4000
   write /sys/class/hw_power/charger/charge_data/iin_thermal 2000
