service phh-ota-make /system/bin/phh-ota new-slot
	seclabel u:r:phhsu_daemon:s0
	disabled
	oneshot

service phh-ota-switch /system/bin/phh-ota switch-slot
	seclabel u:r:phhsu_daemon:s0
	disabled
	oneshot

on property:sys.boot_completed=1
    exec u:r:phhsu_daemon:s0 root -- /system/bin/phh-ota delete-other-slot
